#header-home .container .header-content {
    margin-top: 5rem;
    z-index: 1;
    position: relative; }
    #header-home .container .header-content h2:first-child {
      z-index: 2;
      font-size: 1.75rem; }
    #header-home .container .header-content h2 {
      z-index: 2;
      font-size: 1.25rem; }
    #header-home .container .header-content img {
      margin-top: -5rem;
      margin-bottom: -3rem;
      width: 900px;
      z-index: 0; }
  
  #about-me {
    margin-top: 0;
    padding-top: 4rem; }
  
  #capabilities {
    margin-bottom: 2rem; }
  
  #skills .skills-container .skills-section .skills-list .dot:after {
    width: 150px; }
  
  #portfolio-section .lightbox img {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin-top: 20%; }
  
  #portfolio-section .filters li {
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
  
  /* Smartphones */
  @media screen and (max-width: 450px) {
    #header-home {
      background: #333 url("../img/header-images/ruben123-hero-img-mobile_02.jpg") no-repeat center/cover;
      height: 100vh; }
      #header-home .container .header-content {
        margin-top: 2rem;
        z-index: 1;
        position: relative; }
        #header-home .container .header-content h2:first-child {
          z-index: 2;
          font-size: 1rem; }
        #header-home .container .header-content h2 {
          z-index: 2;
          margin-bottom: 1.5rem;
          font-size: 0.75rem; }
        #header-home .container .header-content img {
          margin-top: -3rem;
          margin-bottom: -2rem;
          width: 475px;
          z-index: 0; }
    #about-me .container .profile-pic img {
      width: 80%;
      height: 80%; }
    #capabilities {
      margin-bottom: 1rem; }
      #capabilities .capabilities-container .category:hover .content img {
        height: 12rem;
        width: auto;
        display: block;
        object-fit: contain;
        opacity: 1;
        transition: none;
        padding-bottom: 2; }
      #capabilities .capabilities-container .category:hover .content .text-animation {
        text-align: center;
        transition-duration: none;
        transform: none; }
    #capabilities {
      margin-bottom: 1rem; }
      #capabilities .capabilities-container .category .content img {
        height: 12rem;
        width: auto;
        display: block;
        object-fit: contain;
        opacity: 1;
        transition: none;
        padding-bottom: 2; }
      #capabilities .capabilities-container .category .content .text-animation {
        text-align: center;
        transition-duration: none;
        transform: none; }
    #skills .skills-container .skills-section {
      margin-right: 3rem; }
    #skills {
      margin-bottom: 0rem; }
      #skills .skills-container .skills-section {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 0.5rem;
        width: 79%;
        margin-right: 2rem; }
        #skills .skills-container .skills-section .skills-list .dot:after {
          width: 125px; }
    #portfolio-section .lightbox img {
      width: 80%;
      margin-top: 40%; }
    #portfolio-section .lightbox-websites .image-button-container {
      top: 5%; }
    #portfolio-section .filters ul h4 {
      line-height: 2.6; }
    #portfolio-section .content .single-content {
      left: 0;
      right: 0; }
    #bottom-footer .contact-info .social-icons {
      font-size: 2rem; }
    #portfolio-section .lightbox img {
      width: 80%;
      margin-top: 20%; } }
  
  @media (max-width: 375px) {
    #header-home .container .header-content h1 {
      font-size: 50px; } }
  
  @media (max-width: 320px) {
    .menu-dropdown {
      height: 50px;
      width: 50px; }
    .menu-dropdown .bar {
      display: block;
      height: 3px;
      width: 27px;
      background: white;
      margin: 6px auto;
      position: relative;
      top: 8px;
      left: 8px;
      border-radius: 5px; }
    #header-home .container .header-content {
      margin-top: 0rem;
      z-index: 1;
      position: relative; }
      #header-home .container .header-content h2 {
        z-index: 2;
        margin-bottom: 1rem; }
      #header-home .container .header-content img {
        margin-top: -2.5rem;
        margin-bottom: -1rem;
        width: 375px;
        z-index: 0; }
    .btn-light {
      padding: 0.5rem 2rem; }
    #capabilities .capabilities-container .category .content img {
      height: 9rem; }
    #skills .skills-container .skills-section {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-left: 0.5rem;
      width: 90%;
      margin-right: 1rem; }
    #skills .skills-container .skills-section .skills-list .dot:after {
      width: 100px; }
    .filters li {
      display: inline;
      padding: 10px 10px;
      font-size: 12px;
      color: #636363;
      font-weight: 400;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 0.2em; } }
  
  @media (max-width: 280px) {
    #header-home .container .header-content h1 {
      font-size: 35px; }
    .content .single-content img {
      width: 250px;
      height: 100%;
      margin: 10px; } }
  